.grupo-item{
    background-color: rgb(231, 228, 228) !important;
    padding: 10px 5px 5px 10px;    
}

.align-itens{
    display: flex !important;
    align-items: flex-end !important;
}

.componente + .componente{
    margin-left: 10px !important;
}


.logo-index{
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.img-logo-index{
    height: 60%;
}

.input-block{
    width: 90% !important;
}

.btn-delete{
    margin-left:10px !important; 
    font-size: 1.5em !important;
    color: red;
}

.container-item{
    margin-bottom: 10px;
}

.box-iten{
    display: flex !important;
    flex-direction: row !important;
    width: 100% !important;
    margin-bottom:20px !important;
}

.input-iten{
    width: 20% !important;
    margin-right:10px !important;
}
.input-iten:disabled{
    background-color: #fff !important;
}

/* orçamento */

.center{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}

.box-iten{
    display: flex !important;
    flex-direction: row !important;
    width: 100% !important;

}
.btn{
    height: 48px !important;
}

.input-iten, .label-iten{
    width: 20% !important;
    margin-right:10px !important;
}

.input-iten-modal, .label-iten-modal{
    width: 40% !important;
    margin-right:10px !important;
}

.box-label{
    display: flex !important;
    flex-direction: row !important;
    width: 100% !important;
    float:right !important; 
}

.btn-body-none{
    color: #fd6600 !important;
    margin-left: 10px !important;
    width: 50px !important;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    text-decoration: none;
    cursor: pointer;
    padding: 0px;
}
.componente > a{
    text-decoration: none;
}
.form-total-iten{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.form-label-center{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.field-hidden{
    display: none;
}
#totalQuote{
    font-size: 1.3em;
    text-align: center;
    border: none;
}

.form-group-flex-start{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 30px;
}
.form-group-flex-start > .form-group{
    margin-right: 5%;
}
.resume{
    background-color: gray;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}
.form-group-flex-start > .form-group:last-child > p{
    background-color: #fd6600;
    font-size: 1.3em;
}
.form-group-flex-start + .form-group-flex-start + .form-group-flex-start{
    background-color: rgb(231, 228, 228);
}

/* style te,pĺate PDF*/
/*tipografy*/
h1, p, span, label{
    font-family: arial;
}

.label-detail{
    font-size: 0.8em;
    color: gray;
    margin-top: 10px;
}
.label-signature{
    font-size: 0.8em;
}
.label-title{
    font-size: 1em;
    color: #000;
    font-weight: bold;
    margin-top: 5px;
}

.template-container-detail, .template-container-data, .template-head, .template-container-resume,
.template-container-item{    
    width: 94%;
    margin-left: 3%;
    display: flex;
    border-left-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    border-color: gray;
    padding: 10px 10px 10px 10px;
}
.template-center{
    display: flex;
    justify-content: center;
    align-content: center;
}
.template-body{
    width: 100%;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
.template-head{
    height: 85px;
    border-top-width: 1px;
    border-bottom-width: px;
}
.template-container-data{
    background-color: #EEE9E9;
    height: 35px;
    border-top-width: 0px;
    border-bottom-width: 1px;
}
.template-container-item{
    background-color: #EEE9E9;
    min-height: 90px;
    border-top-width: 0px;
    border-bottom-width: 1px;
    flex-direction: column;

}
.template-container-detail{
    min-height: 140px;
    border-bottom-width: 1px;
    border-top-width: 0px;
    border-bottom-width: 1px;
    flex-direction: column;
}
.template-container-resume{
    background-color: silver;
    min-height: 110px;
    border-bottom-width: 1px;
    border-top-width: 0px;
    border-bottom-width: 1px;
    flex-direction: column;
}
.template-head-img{
    width: 25%;
    height: 80%;
    flex-direction: row;
    margin-top: 10px;
    
}
.template-head-img + .template-center{
    width: 75%;
}
.template-head-img > img{
    width: 40%;
    height: 100%;
}
.template-head-title{
    display: flex;
    flex-direction: column;
}
.template-container-data > div{
    width: 100%;
    display: flex;
}
.template-item-head{
    width: 90%;
    display: flex;
    flex-direction: row;
}
.template-item-head > .container-form-group:first-child{
    width: 25%;
}
.template-item-head > .container-form-group:last-child{
    width: 60%;
}

.container-form-group{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-top: 5px;
}
.container-form-group > label{
    color: gray;
    font-weight: bold;
}
.container-form-group > p{
    margin-top: 0px;
}

.template-row-space-between-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid gray;
    padding: 0px 10px 0px 10px;
    margin-top: 5px;
}
.template-row-space-between-item > .container-form-group:last-child > p {
    font-weight: bolder;
}
.template-container-resume > .container-form-group > label{
    font-weight: inherit;
}
.container-form-group-resume{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-top: 5px;
}
.container-form-group-resume > label{
    color: gray;
    font-weight: inherit;
}
.container-form-group-resume{
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px #EEE9E9;
}
.container-form-group-resume > div:first-child{
    width: 60%;
}
.container-form-group-resume > div:first-child > label{
    color: gray;
}
.container-form-group-resume > div:last-child{
    width: 40%;
}
.template-container-resume > div > div {
    background-color: #fff;
    padding: 5px;
    margin-top: 5px;
    width: 31%;
}
.template-container-resume > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.template-container-resume > div > div:first-child + div{
   display: flex;
   flex-direction: column;
}
.container-signature{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 5px;
    margin-top: 15%;
}



